$error-color: #f56c6c;
$success-color: #67c23a;
$warning-color: #e6a23c;
$info-color: #909399;

$layout-bg-color: #f2f6fb;
$layout-header-bg-color: #fcfdfe;
$layout-content-bg-color: #fcfdfe;
$layout-box-shadow: 0 2px 4px rgb(0 140 255 / 0.1);
