@charset "UTF-8";
@import "./elementsCover.scss";
@import "./mixins/index.scss";
@import "./animate/entry.scss";

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
button,
textarea,
div,
th,
td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  text-size-adjust: 100%;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  &:focus,
  &:active {
    outline: none;
  }
}

ul,
ol {
  list-style: none;
}

/* 去掉蓝色边框 */
fieldset,
img {
  border: 0;
}

img {
  vertical-align: middle;
}

select,
input {
  border: none;
  outline: 0;
}

/* 防止拖动 影响布局 */
textarea {
  overflow: auto;
  font: inherit;
  resize: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button,
svg {
  outline: none;
}

#app {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 5%);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(144 147 153 / 30%);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
}
