html.dark {
  $theme-color: #293146;

  .crazybit-login {
    background-color: $theme-color;

    &::before {
      background-image: url("@svg/login-bg-dark.svg");
    }

    @media (max-width: $screen-lg) {
      &-form {
        .el-checkbox__label,
        .el-input__inner,
        .el-button.is-plain,
        h2 {
          color: black;
        }
      }
    }

    .qrcode-form .el-divider__text {
      padding: 0 10px 0 20px;
      background-color: $theme-color;
    }

    .register-form .crazybit-strength-compute-bar {
      &::after,
      &::before {
        border-color: $theme-color;
      }
    }
  }
}
